.parent {
  color: red;
  font-size: 12px;
}
.parent .child {
  color: blue;
  padding: 10px;
}
.parent .child:hover {
  background-color: salmon;
}
.parent p {
  background-color: #333;
}
.parent p::first-line {
  font-size: 36px;
}
.parent p span {
  margin: 5px;
}
.parent > h2 {
  background-color: yellow;
}
