.transition{
	width: 100px;
	height: 100px;
	padding: 10px;
	background-color: firebrick;
	color: white;
	font-size: 18px;

	-webkit-transition: width 3s, height 3s, background-color 3s, font-size 3s, color 3s, -webkit-transform 3s;
	   -moz-transition: width 3s, height 3s, background-color 3s, font-size 3s, color 3s, -moz-transform 3s;
		 -o-transition: width 3s, height 3s, background-color 3s, font-size 3s, color 3s, -o-transform 3s;
			transition: width 3s, height 3s, background-color 3s, font-size 3s, color 3s, transform 3s;
}

.transition:hover{
	width: 500px;
	height: 500px;
	background-color: lightyellow;
	color: black;
	font-size: 48px;

	-webkit-transform: rotate(180deg);
	   -moz-transform: rotate(180deg);
		-ms-transform: rotate(180deg);
		 -o-transform: rotate(180deg);
			transform: rotate(180deg);
}