.container{
	padding: 10px 0;
	width: 250px;
	height: 750px;
	margin: 0 auto;
}

.no-cssreflections .container{
	background-image: url('http://drc.zz.vc/reflect.png);
	background-position: center 375px;
	background-repeat: no-repeat;
}

.cssreflections .container img { 
	-webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(50%, transparent), to(white)); 
}
