.form-group {
	padding: 30px;
	margin: 10px auto;
	font-size: 24px;
	width: 950px;
	background-color: lightsteelblue;
	border-radius: 10px;
}

.form-group label {
	display: inline-block;
	width: 100px;
	margin-right: 20px;
	text-align: right;
}

.form-group input {
	font-size: inherit;
	padding: 10px;
	width: 300px;
}

.form-group textarea {
	width: 800px;
	height: 300px;
	display: block;
	margin-top: 20px;
	margin-left: 120px;
	font-size: inherit;
}

.form-group button {
	width: 150px;
	padding: 20px;
	font-size: inherit;
}

.form-group.controls {
	text-align: right;
}

.form-group input,
.form-group textarea,
.form-group button {
	outline: none;
	border-radius: inherit;
}

.form-group input:focus,
.form-group textarea:focus,
.form-group button:focus {
	border-color: deepskyblue;
}