.transform{
	width: 300px;
	height: 300px;
	margin: 50px;
	font-size: 36px;
	padding: 20px;
}

.translate{
	background-color: #666;
	-webkit-transform: translate(50px, 50px);
	   -moz-transform: translate(50px, 50px);
		-ms-transform: translate(50px, 50px);
		 -o-transform: translate(50px, 50px);
			transform: translate(50px, 50px);
}

.skew{
	background-color: tomato;
	-webkit-transform: skew(30deg, 20deg);
	   -moz-transform: skew(30deg, 20deg);
		-ms-transform: skew(30deg, 20deg);
		 -o-transform: skew(30deg, 20deg);
			transform: skew(30deg, 20deg);
}

.rotate{
	background-color: skyblue;
	-webkit-transform: rotate(45deg);
	   -moz-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		 -o-transform: rotate(45deg);
			transform: rotate(45deg);
}

.scale{
	background-color: lightgreen;
	position: relative;
	top:500px;
	left: 500px;
	-webkit-transform: scale(2, 4);
	   -moz-transform: scale(2, 4);
		-ms-transform: scale(2, 4);
		 -o-transform: scale(2, 4);
			transform: scale(2, 4);
}